:root {
    --primary-color: white;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: var(--primary);
    color: var(--light-text);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

h1 {
    text-align: center;
}

img {
    display: block;
    padding: .5rem;
    margin: 0 auto;
    background: #000;
    animation: fade 1s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}