body {
    margin: 0;
    font-family: serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #333;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 300px;
}

section {
    background-color: #cbcbcb;
    padding: 20px;
}

aside {
    background-color: white;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}