:root {
    --primary: #24593d;
    --background: #fff;
    --hover-color: #7b9e8b;
    --dark-text: #000;
    --light-text: #fff;
    --main-font: 'Roboto', sans-serif;
    --shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--background);
    color: var(--dark-text);
}

main {
    padding: 1rem;
}

header {
    background-color: var(--primary);
    color: var(--light-text);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}

header h2 {
    margin: 0;
}

#menuBtn {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--light-text);
    position: relative;
    padding: .5rem;
}

#menuBtn.open-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

#menuBtn:hover {
    background-color: var(--hover-color);
}

nav {
    display: none;
    flex-direction: column;
    padding: .25rem 5rem;
    width: 100%;
    text-align: center;
    background-color: var(--primary);
}

nav a {
    color: var(--light-text);
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;

}

nav a:hover {
    background-color: var(--hover-color);
    color: var(--dark-text);
}

nav.open {
    display: flex;
}

#temple-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
}

#temple-grid section {
    border: 3px solid var(--hover-color);
    background-color: var(--hover-color);
    padding: 1rem;
    text-align: center;
    box-shadow: var(--shadow);
}

#temple-grid img {
    width: 100%;
    height: auto;
    padding: 1rem;
}

#temple-grid .label {
    font-weight: bold;
}

h1 {
    text-align: center;
    padding: 1rem;
}

.hidden {
    display: none;
}

footer {
    background-color: var(--primary);
    color: var(--light-text);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    #menuBtn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 1rem;
        padding: 0;
        background: none;
    }

    #temple-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #temple-grid section {
        padding: 1rem;
    }

    header h2 {
        padding: 0 100px;
    }
}