@media (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .temple-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h2 {
        margin: 0;
    }
}
