body {
    font-family: 'Roboto';
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1.2px solid #000;
    padding: 1rem;
    background-color: rgb(169, 169, 244);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}